@import "tailwindcss";

@font-face {
    font-family: "Bricolage Grotesque Bold";
    src: url("./assets/fonts/Bricolage_Grotesque/static/BricolageGrotesque-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "DM Sans Light";
    src: url("./assets/fonts/DM_Sans/static/DMSans-Light.ttf") format("truetype");
}

@font-face {
    font-family: "DM Sans Medium";
    src: url("./assets/fonts/DM_Sans/static/DMSans-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "DM Sans Semi Bold";
    src: url("./assets/fonts/DM_Sans/static/DMSans-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "DM Sans Semi Bold Italic";
    src: url("./assets/fonts/DM_Sans/static/DMSans-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "DM Sans Bold";
    src: url("./assets/fonts/DM_Sans/static/DMSans-Bold.ttf") format("truetype");
}

@theme {
    --color-neutral-900: #02012C;
    --color-neutral-800: #262540;
    --color-neutral-700: #302F4A;
    --color-neutral-600: #3C3B5E;
    --color-neutral-300: #ACACB7;
    --color-neutral-200: #D4D3D9;
    --color-neutral-0: #FFFFFF;

    --color-orange-500: #FF820A;

    --color-blue-700: #2B1B9C;
    --color-blue-500: #4658D9;

    --font-bg-bold: "Bricolage Grotesque Bold";
    --font-dm-light: "DM Sans Light";
    --font-dm-medium: "DM Sans Medium";
    --font-dm-semibold: "DM Sans Semi Bold";
    --font-dm-semibold-italic: "DM Sans Semi Bold Italic";
    --font-dm-bold: "DM Sans Bold";
}

@layer base {
    :root {
        font-family: var(--font-dm-light), serif;
        color: var(--color-neutral-0);
        background-color: var(--color-neutral-900);
    }
}

@layer components {

    .text-preset-1 {
        font-family: var(--font-dm-semibold-italic), serif;
        font-size: 96px;
        line-height: 100%;
        letter-spacing: -2px;
    }

    .text-preset-2 {
        font-family: var(--font-bg-bold), serif;
        font-size: 52px;
        line-height: 120%;
        letter-spacing: 0;
    }

    .text-preset-3 {
        font-family: var(--font-dm-light), serif;
        font-size: 32px;
        line-height: 100%;
        letter-spacing: 0;
    }

    .text-preset-4 {
        font-family: var(--font-dm-bold), serif;
        font-size: 28px;
        line-height: 120%;
        letter-spacing: 0;
    }

    .text-preset-5 {
        font-family: var(--font-dm-semibold), serif;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0;
    }

    .text-preset-6 {
        font-family: var(--font-dm-medium), serif;
        font-size: 18px;
        line-height: 120%;
        letter-spacing: 0;
    }

    .text-preset-7 {
        font-family: var(--font-dm-medium), serif;
        font-size: 16px;
        line-height: 120%;
        letter-spacing: 0;
    }

    .text-preset-8 {
        font-family: var(--font-dm-medium), serif;
        font-size: 14px;
        line-height: 120%;
        letter-spacing: 0;
    }
}